.curved-loop-jacket {
  width: 100%;
  margin-bottom: 1.5rem;
}

.curved-loop-svg {
  user-select: none;
  width: 100%;
  aspect-ratio: 100 / 12;
  overflow: visible;
  display: block;
  font-size: 3.25rem;
  fill: currentColor;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.05em;
}
